* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.notification {
	margin: 50px auto;
	position: relative;
}

.notification .red-dot {
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: #ff0000;
	position: absolute;
	top: 2px;
	left: 52%;
	transform: translateX(-50%);
}
